/* 400 */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../../assets/fonts/helvetica/HelveticaNowDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 400 italic */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../../assets/fonts/helvetica/HelveticaNowDisplay-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* 500 */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../../assets/fonts/helvetica/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 600 */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../../assets/fonts/HelveticaNowDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 700 */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../../assets/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 800 */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../../assets/fonts/helvetica/HelveticaNowDisplay-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* 900 */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../../assets/fonts/helvetica/HelveticaNowDisplay-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// Salsa 
@font-face {
  font-family: 'Salsa';
  src: url('.../../assets/fonts/salsa/Salsa-Regular.ttf') format('truetype');
  font-weight: 400; // the real weight you have
  font-style: normal;
  font-display: swap;
}

