/* 400 */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/Helvetica/HelveticaNowDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* 400 italic */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/Helvetica/HelveticaNowDisplay-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* 500 */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/Helvetica/HelveticaNowDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 600 */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/Helvetica/HelveticaNowDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* 700 */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/Helvetica/HelveticaNowDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* 800 */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/Helvetica/HelveticaNowDisplay-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* 900 */
@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/Helvetica/HelveticaNowDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Salsa */
@font-face {
  font-family: 'Salsa';
  src: url('../fonts/Salsa/Salsa-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}