*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Now Display', sans-serif;
}

main{
  overflow: hidden;
}

p {

  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}