.container {
  max-width: 1440px;
  padding:90px 98px;
  margin: 0 auto;

  @media (max-width: 991px) {
    padding: 70px 60px;
  }
  @media (max-width: 767px) {
    padding: 60px 30px;
  }

  @media (max-width: 575px) {
    padding: 60px 15px;
  }
}