// Colors
$primary-color: #FF8000;
$dark-orange-color: #D46A00;
$vivid-orange: #FF9E3D;
$light-orange-color: #FFEAD8;
$black-color: #000000;
$white-color: #ffffff;
$bg-color: #f9fafb;

// Fonts
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Salsa', cursive;