@use '../utils/variables' as *;

.breadcrumbs {
    background: url('../images/breadcrumbs-bg.png') center/cover no-repeat, $black-color;
    padding-bottom: 100px;
   
    @media (max-width:576px) {
        &__shape {
            display: none;
        }
    }

    &__subtitle-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding-top: 9rem;
        background: transparent;


        @media (max-width:576px) {
            gap: 0.8rem;
            padding-top: 6rem;
        }

        @media (max-width:350px) {
            flex-wrap: wrap;
        }
    }

    &__subtitle {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        margin: 0;
    }

    &__current-item {
        color: $white-color;
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-shrink: 0;
    }

    &__title {
        color: $white-color;
        margin-top: 4rem;
        margin-bottom: 0;

        @media (max-width: 1024px) {
            margin-top: 3rem;
            font-size: 2.5rem;
        }

        @media (max-width: 576px) {
            margin-top: 2rem;
            font-size: 2rem;
        }
    }

    &__desc {
        color: $white-color;
        text-align: center;
        max-width: 645px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        font-size: $white-color;
        margin-top: 1.5rem;
    }
}