@use '../utils/variables' as *;

.footer {
    background-color: $black-color;
    background: url('../images/footer-bg.png') bottom/cover no-repeat;
    position: relative;

    @media (max-width:800px) {
        background: url('../images/footer-bg-responsive.png') bottom/cover no-repeat;
    }

    &__container {
        position: relative;
        z-index: 10;

        @media (max-width:500px) {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
        padding-top: 20px;
        padding-bottom: 5rem;
        border-top: 1px solid #D9D9D9;

        @media (max-width:920px) {
            padding-bottom: 2rem;
        }

        @media (max-width:850px) {
            justify-content: center;
            row-gap: 6px;
        }

        @media (max-width:576px) {
            padding-bottom: 1rem;
        }

        &-link {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0;
            color: $white-color;
            text-decoration: none;
        }

        &-copyright {
            color: $white-color;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.4;
            letter-spacing: 0;
        }
    }

    &__top {
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;

        @media (max-width:1280px) {
            flex-direction: column;
        }
    }

    &__left {
        max-width: 430px;

        @media (max-width:1280px) {
            max-width: 700px;
        }
    }

    &__logo img {
        max-width: 170px;
        margin-bottom: 1rem;
    }

    &__desc {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.3;
        color: $white-color;
    }

    &__social-area {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__right {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2.8rem;

        @media (max-width:800px) {
            justify-content: start;
        }

        @media (max-width:500px) {
            flex-direction: column;
            gap: 1.5rem;
        }
    }

    &__link-title {
        font-size: 1.5rem;
        line-height: 1;
        color: $white-color;
        margin-bottom: 20px;
    }

    &__link-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        list-style: none;
    }

    &__link-item:not(:first-child) {
        padding-left: 3rem;

        @media (max-width:800px) {
            padding-left: 0;
        }
    }

    &__link {
        color: $white-color;
        font-size: 1rem;
        line-height: 21px;
        letter-spacing: 0;
        text-decoration: none;
        transition: 0.3s ease;

        &:hover {
            color: $primary-color;
        }

        &--icon {
            position: relative;
            padding-left: 15px;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 6px;
                height: 10px;
                background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.68123 5.03418L1.85623 8.85918C1.57498 9.14043 1.1531 9.14043 0.899976 8.85918L0.253101 8.24043C-2.44305e-05 7.95918 -2.44305e-05 7.5373 0.253101 7.28418L2.98123 4.58418L0.253101 1.85605C-2.44305e-05 1.60293 -2.44305e-05 1.18105 0.253101 0.899805L0.899976 0.25293C1.1531 -0.000195049 1.57498 -0.000195049 1.85623 0.25293L5.68123 4.07793C5.93435 4.35918 5.93435 4.78105 5.68123 5.03418Z' fill='white'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }


        }
    }

    &__link-item--contact {
        max-width: 315px;

        li a {
            display: flex;
            align-items: center;
            gap: 10px;

        }
    }

    .footer__icon-wrap {
        position: relative;
        z-index: 10;
        width: 36px;
        height: 36px;
        background: #FFE6E0;
        flex: 0 0 36px;
        flex-shrink: 0;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:800px) {
            width: 28px;
            height: 28px;
            flex: 0 0 28px;
        }
    }

    &__social-link {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ff80001a;
        padding: 5px;

        svg {
            fill: $primary-color;
            transition: 0.3s ease;
        }

        &:hover svg {
            fill: $white-color;
        }
    }

    &__bg-text {
        position: absolute;
        bottom: -140px;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 17rem;
        font-weight: 800;
        color: $white-color;
        opacity: 0.35;
        pointer-events: none;
        user-select: none;
        display: block;
        width: 100%;
        text-align: center;
        z-index: 1;
        white-space: nowrap;
        overflow: hidden;

        @media (max-width:1200px) {
            font-size: 12rem;
            bottom: -100px;
        }

        @media (max-width:1021px) {
            font-size: 10rem;
            bottom: -80px;
        }

        @media (max-width:920px) {
            font-size: 8rem;
            bottom: -70px;
        }

        @media (max-width:576px) {
            font-size: 6rem;
            bottom: -60px;
        }
    }
}