    @use '../utils/variables' as *;

    // Global Style

    .header--style-1 {
        width: 100%;
        position: fixed;
        top: 60px;
        z-index: 20;

        .header__container {
            padding-top: 0;
            padding-bottom: 0;
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 88px;
            border: 1px solid $white-color;
            border-radius: 100px;
            padding: 0 4rem;

            @media(max-width:1250px) {
                padding: 0 2.8rem;
            }

            @media(max-width:768px) {
                border: none;
            }

            @media(max-width:576px) {
                padding: 0;
            }

            &__menu {
                margin: 0;
                display: flex;
                align-items: center;
                height: 60px;

                @media (max-width: 1200px) {
                    display: none;
                }
            }

            &__item {
                position: relative;
                margin: 0;
                height: 100%;
                display: flex;
                align-items: center;
            }

            &__link {
                display: flex;
                align-items: center;
                padding: 0.5rem 1rem;
                font-size: 18px;
                line-height: 20px;
                font-weight: 400;
                transition: color 0.3s;
                font-weight: 400;
                line-height: 150%;
                letter-spacing: 0;
                text-decoration: none;
                color: $black-color;
                font-family: $font-secondary;

                &:hover {
                    color: $primary-color;
                }
            }

            &__item-has-children>.nav__link::after {
                content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 9 5' fill='none'><path d='M8.13231 0.972078C8.13235 1.01586 8.12375 1.05921 8.10699 1.09965C8.09023 1.1401 8.06564 1.17683 8.03464 1.20774L4.70136 4.54102C4.67043 4.57199 4.63369 4.59656 4.59326 4.61333C4.55282 4.63009 4.50947 4.63872 4.4657 4.63872C4.42193 4.63872 4.37858 4.63009 4.33814 4.61333C4.29771 4.59656 4.26097 4.57199 4.23004 4.54102L0.896758 1.20774C0.76651 1.07749 0.76651 0.86658 0.896758 0.736415C1.02701 0.60625 1.23792 0.606167 1.36808 0.736415L4.4657 3.83403L7.56332 0.736415C7.59425 0.705444 7.63099 0.680874 7.67142 0.66411C7.71186 0.647346 7.75521 0.638718 7.79898 0.638718C7.84275 0.638718 7.8861 0.647346 7.92654 0.66411C7.96697 0.680874 8.00371 0.705444 8.03464 0.736415C8.06564 0.767327 8.09023 0.80406 8.10699 0.844503C8.12375 0.884945 8.13235 0.9283 8.13231 0.972078Z' fill='%23EE212B'/></svg>");
                display: inline-block;
                margin-left: 5px;
                vertical-align: bottom;
                transition: 0.5s ease;
                transform-origin: center;
            }

            &__item-has-children:hover>.nav__link::after {
                transform: rotate(180deg);
                margin-bottom: -3px;
            }

            /* Dropdown Styles - Desktop */
            &__submenu {
                position: absolute;
                top: 100%;
                left: 0;
                min-width: 200px;
                padding-left: 0;
                background: $white-color;
                box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
                border-radius: 0 0 3px 3px;
                opacity: 0;
                visibility: hidden;
                transform: translateY(10px);
                transition: opacity 0.3s ease,
                    transform 0.3s ease;
                z-index: 100;

                .nav__link {
                    color: $black-color;
                }

                .nav__submenu {
                    top: 0;
                    left: 100%;
                }
            }

            .current-menu-item>.nav__link {
                color: $primary-color;
                font-weight: 500;
            }

            // Nav Right Items
            &__btn-wrap {
                display: flex;
                align-items: center;
                gap: 12px;

                @media (max-width: 1200px) {
                    gap: 5px;
                }
            }

            .nav__lang {
                position: relative;
                display: inline-block;
            }

            &__language {
                background-color: transparent;
                color: $black-color;
                border: none;
                padding: 0px 30px 0px 0px;
                margin-right: -8px;
                font-size: 18px;
                font-family: 'Arial', sans-serif;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 20px;
                cursor: pointer;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.74972 0.749977L4.74986 4.74984L0.75 0.749977' stroke='black' stroke-width='1.49995' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: right 12px center;
                background-size: 12px;
                font-family: $font-secondary;

                &:focus {
                    border: none;
                    outline: none;
                }

                @media (max-width: 768px) {
                    display: none;
                }
            }

            &__user-profile-link,
            &__user-cart-link {
                text-decoration: none;

                @media (max-width: 1200px) {
                    display: none;
                }
            }

            // Toggle
            &__toggle {
                display: none;
                background: transparent;
                padding: 0;
                border: none;
                outline: none;

                @media (max-width: 1200px) {
                    display: block;
                }
            }
        }

        .nav__item:hover>.nav__submenu {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            z-index: 9999;
        }
    }