@use '../utils/variables' as *;

.hero {
    padding-top: 10.875rem;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/hero-bg-shape.png') bottom/cover no-repeat;
    }

    &__title {
        font-size: 4.375rem;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0;
        text-align: center;
        max-width: 1120px;
        margin: 0 auto;

        @media(max-width: 1021px) {
            font-size: 4rem;
            margin-bottom: 10px;
        }

        @media(max-width: 768px) {
            font-size: 3rem;
            margin-bottom: 10px;
        }
    }

    &__subtitle-text {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0;
        text-align: center;
        max-width: 1120px;
        margin: 0 auto;
        margin-bottom: 1.8rem;

        @media(max-width: 768px) {
            font-size: 20px;
        }
    }

    &__image-wrap {
        margin-top: 2.8rem;
        text-align: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__desc {
        font-size: 20px;
        line-height: 30px;
        max-width: 645px;
        letter-spacing: 0;
        margin: 0 auto;
        margin-top: 1.8rem;
        line-height: 1.4;

        @media(max-width: 768px) {
            font-size: 1rem;
        }
    }

    &__container {
        position: relative;
        z-index: 10;
    }

    &__btn-wrap {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
    }

    &__gradient-left-bottom {
        width: 450px;
        height: 780px;
        background: #FF9E3D;
        transform: rotate(-13.94deg);
        position: absolute;
        left: -312px;
        bottom: -200px;
        filter: blur(120px);
        pointer-events: none;
        border-radius: 50%;
        z-index: 5;

        @media(max-width: 1021px) {
            width: 300px;
            height: 500px;
            left: -200px;
            bottom: -140px;
        }
    }

    &__gradient-right-bottom {
        width: 450px;
        height: 780px;
        background: #FF9E3D;
        transform: rotate(-160deg);
        position: absolute;
        right: -250px;
        bottom: -200px;
        filter: blur(200px);
        pointer-events: none;
        border-radius: 50%;
        z-index: 5;

        @media(max-width: 1021px) {
            width: 300px;
            height: 450px;
            right: -100px;
            bottom: -405px;
        }


        @media (max-width: 576px) {
            width: 250px;
            height: 300px;
            filter: blur(80px);
            bottom: -300px;
        }
    }

    @media (max-width: 1021px) {
        padding-top: 9.875rem;
    }

    @media (max-width: 576px) {
        padding-top: 7.875rem;
    }
}