@use '../utils/variables' as *;

.mission {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 325px;
        height: 510px;
        left: 0;
        bottom: 0;
        background: #FF9E3D;
        -webkit-transform: rotate(245deg);
        transform: rotate(245deg);
        border-radius: 50%;
        z-index: 9;
        filter: blur(200px);

        @media (max-width:576px) {
            width: 200px;
            height: 315px;
            bottom: 250px;
        }
    }

    &__top {
        background-color: $black-color;

        &-container {
            padding-bottom: 0;

            @media (max-width:576px) {
                padding-top: 0;
            }
        }
    }

    &__image-wrap img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__bottom {
        background: url('../images/combo-bg.png') bottom/cover no-repeat, $light-orange-color;
        border-radius: 100px 100px 0 0; 
        margin-top: -230px;
        position: relative;

        @media (max-width: 1150px) {
            margin-top: -130px;
        }

        @media (max-width:1021px) {
            border-radius: 60px 60px 0 0;
        }

        @media (max-width:576px) {
            border-radius: 30px 30px 0 0;
             margin-top: -85px;
        }

        &-container {
            padding-top: 3.5rem;
            position: relative;
            z-index: 10;
        }
    }

    &__content {
        position: relative;
        max-width: 747px;
        z-index: 10;

        @media (max-width:1300px) {
            max-width: 100%;
        }

        &--right {
            max-width: 870px;
            display: flex;
            align-items: end;
            flex-direction: column;
        }

        &-area--left {
            display: flex;
            text-align: left;
            justify-content: start;
            position: relative;
        }



        &-area--right {
            display: flex;
            text-align: right;
            justify-content: end;
            margin-top: 4.5rem;

            @media(max-width: 1021px) {
                margin-top: 4rem;
            }

            @media(max-width: 576px) {
                margin-top: 3.5rem;
            }
        }
    }

    &__hand-image-wrap {
        @media (max-width:1300px) {
            width: 100%;
            height: 700px;
        }

        @media (max-width:576px) {
            width: 100%;
            height: 500px;
        }
    }

    &__hand-image {
        position: absolute;
        top: -10px;
        right: -90%;
        z-index: 5;
        width: 130%;

        @media (max-width:1300px) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            width: 100%;
        }

        @media (max-width:576px) {
            width: 130%;
            top: 42%;
            width: 130%;
        }
    }

    &__vission-image-wrap {
        @media (max-width:1300px) {
            width: 100%;
            height: 600px;
        }

        @media (max-width:576px) {
            width: 100%;
            height: 300px;
        }
    }

    &__vission-image {
        position: absolute;
        top: 215px;
        left: -52%;
        z-index: 5;
        width: 87%;

        @media (max-width:1300px) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
            width: 100%;
        }

        @media (max-width:576px) {
            width: 130%;
            top: 47%;
            width: 130%;
        }
    }

    &__title {
        max-width: 100%;
    }

    &__title span {
        font-style: italic;
    }

    &__subtitle-text {
        font-size: 2.2rem;
        max-width: 100%;
    }

    &__text {
        margin-bottom: 1.5rem;
    }

    &__text-limit {
        max-width: 700px;
    }

    &__bg-text-wrap {
        position: absolute;
        top: 20px;
        left: 40px;
        max-width: 90%;
        z-index: -1;

        @media (max-width:1021px) {
            max-width: 700px;
            top: 50px;
            left: 0px;
        }

        @media (max-width:768px) {
            max-width: 400px;
            top: 35px;
            left: 40px;
        }

        @media (max-width:576px) {
            max-width: 300px;
            top: 50px;
            left: 0px;
        }

        img {
            width: 100%;
        }
    }
}