@use '../utils/variables' as *;

.mission {
    -webkit-box-shadow: 0px -17px 38px -14px rgba(157, 80, 4, 0.92);
    position: relative;
    background: $light-orange-color;
    box-shadow: 0px -33px 36px -17px #66390c;
    border-radius: 60px 60px 0 0;
    border-radius: 60px 60px 0 0;
    margin-top: -100px;
    background-image: radial-gradient(circle at 1px 20px, #d79914 1px, transparent 0);
    background-size: 40px 40px;

    @media (max-width: 992px) {
        background-size: 30px 30px;
        border-radius: 40px 40px 0 0;
    }

    @media (max-width: 768px) {
        background-image: radial-gradient(circle at 1.5px 20px, #fdcc61 1.5px, transparent 0);
        background-size: 30px 30px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 325px;
        height: 510px;
        left: 0;
        bottom: 0;
        background: #FF9E3D;
        -webkit-transform: rotate(245deg);
        transform: rotate(245deg);
        border-radius: 50%;
        z-index: 9;
        filter: blur(200px);

        @media (max-width:576px) {
            width: 200px;
            height: 315px;
            bottom: 250px;
        }
    }

    &__container {
        position: relative;
    }

    &__content {
        position: relative;
        max-width: 747px;
        z-index: 10;

        @media (max-width:1300px) {
            max-width: 100%;
        }

        &--right {
            max-width: 870px;
            display: flex;
            align-items: end;
            flex-direction: column;
        }

        &-area--left {
            display: flex;
            text-align: left;
            justify-content: start;
            position: relative;
        }



        &-area--right {
            display: flex;
            text-align: right;
            justify-content: end;
            margin-top: 4.5rem;

            @media(max-width: 1024px) {
                margin-top: 4rem;
            }

            @media(max-width: 576px) {
                margin-top: 3.5rem;
            }
        }
    }

    &__hand-image-wrap {
        position: relative;

        @media (max-width:1300px) {
            width: 100%;
            aspect-ratio: 1 / 0.6;
        }
    }

    &__hand-image {
        position: absolute;
        bottom: 50%;
        right: -85%;
        transform: translate(0px, 58%);
        z-index: 5;

        @media (max-width:1300px) {
            top: 0;
            right: 50%;
            -webkit-transform: scale(1.3) translate(-50%, -50%);
            transform: scale(1.3) translate(33%, 0%);
        }

        @media (max-width:1024px) {
            width: 100%;
            top: 92%;
            right: 0;
            transform: scale(1.1);
            -webkit-transform: scale(1.3) translate(0, -50%);
        }

    }

    &__vission-image-wrap {
        position: relative;
        z-index: 5; 


        @media (max-width:1300px) {
            width: 100%;
            aspect-ratio: 1/0.6;
        }

    }

    &__vission-image {
        position: absolute;
        right: 50%;
        transform: translate(-50%, -25%) scale(1.2);

        @media (max-width:1300px) {
            top: 50%;
            right: 0;
            transform: scale(1.2) translate(0, -46%);
            width: 100%;
        }

        @media (max-width:1024px) {
            // width: 100%;
            // top: 92%;
            // right: 0;
            // transform: scale(1.1);
            // -webkit-transform: scale(1.3) translate(0, -50%);
        }
    }

    &__title {
        max-width: 100%;
        margin-bottom: 0.8rem;
        line-height: 1;
        position: relative;
        z-index: 10;
    }

    &__title span {
        font-style: italic;
    }

    &__subtitle-text {
        font-size: 2.2rem;
        max-width: 100%;
        margin-bottom: 3rem;
        position: relative;
        z-index: 10;

        @media(max-width:1024px) {
            font-size: 2rem;
        }

        @media(max-width:576px) {
            font-size: 20px;
        }
    }

    &__lists {
        color: $black-color;
        list-style: none;
        font-size: 22px;
        line-height: 1.5;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        position: relative;
        z-index: 10;

        @media (max-width:768px) {
            font-size: 1rem;
        }

        &--right {
            margin-top: 0;
        }
    }

    &__text {
        margin-bottom: 1.5rem;
        position: relative;
        z-index: 10;

        @media(max-width:576px) {
            font-size: 1rem;
        }
    }

    &__text-limit {
        max-width: 700px;
    }

    &__bg-text-wrap {
        position: absolute;
        top: 20px;
        left: 40px;
        max-width: 90%;
        z-index: 5;

        @media (max-width:1024px) {
            max-width: 700px;
            top: 50px;
            left: 32px;
        }

        @media (max-width:768px) {
            max-width: 400px;
            top: 35px;
            left: 40px;
        }

        @media (max-width:576px) {
            max-width: 300px;
            top: 50px;
            left: 20px;
        }

        img {
            width: 100%;
        }
    }
}