@use '../utils/variables' as *;

.testimonials {

    background: $light-orange-color;

    &__header {
        margin-bottom: 4.5rem;
    }


    &__title {
        margin-top: 10px;
    }

    &__subtitle-text {
        max-width: 100%;
    }
}