 @use '../utils/variables' as *;

 .vanish {
     background: url('../images/vanish-vain-bg.png') bottom/cover no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: calc(100vh + 200px);
     max-height: calc(100vh + 200px);
     padding-top: 150px;

     @media(max-width:768px) {
         min-height: 100vh;
         max-height: 100vh;
         padding-top: 150px;
     }

     @media(max-width:450px) {
         min-height: calc(100vh + 200px);
         max-height: calc(100vh + 200px);
     }

     &__content {
         position: relative;
     }

     &__content {
         min-height: 100%;
     }

     &__title {
         color: $black-color;
         font-size: clamp(2.5rem, 6vw, 5rem);
         font-weight: 400;
         margin-bottom: 15px;
         letter-spacing: 0;
         line-height: 1.1;
         text-align: center;
     }

     &__subtitle {
         font-size: 1.5rem;
         color: $black-color;
         line-height: 1.3;
         font-weight: 400;
         text-align: center;
     }

     &__card {
         margin-top: 6.875rem;
         border: 1px solid $primary-color;
         background: rgba(255, 255, 255, 0.35);
         border-radius: 30px;
         padding: 1.8rem;
         box-shadow: 0px 0px 13px 0px rgba(255, 128, 0, 0.55);
         -webkit-box-shadow: 0px 0px 13px 0px rgba(255, 128, 0, 0.55);
         -moz-box-shadow: 0px 0px 13px 0px rgba(255, 128, 0, 0.55);
         backdrop-filter: blur(25px);
         -webkit-backdrop-filter: blur(25px);

         @media(max-width: 576px) {
             border-radius: 15px;
         }
     }

     &__input {
         width: 100%;
         min-height: 84px;
         max-height: fit-content;
         background: transparent;
         border: none;
         border-bottom: 1px solid $primary-color;
         outline: none;
         font-size: 22px;
         color: $black-color;
         resize: none;
         font-weight: 300;
         letter-spacing: 0.38px;
         font-family: $font-primary;

         @media(max-width:576px) {
             font-size: 1rem;
         }
     }

     &__input::placeholder {
         color: #7F7F7F;
         font-size: 22px;
         resize: none;
         font-weight: 300;
         letter-spacing: 0.38px;
         font-family: $font-primary;

         @media(max-width:576px) {
             font-size: 1rem;
         }
     }

     &__footer {
         display: flex;
         justify-content: flex-end;
         margin-top: 20px;
     }

     /* 5. The Vanish Button */
     &__submit-button {
         background: $primary-color;
         padding: 8px 28px;
         border-radius: 20px;
         color: $white-color;
         font-size: 12px;
         line-height: 20px;
         font-weight: 500;
         cursor: pointer;
         transition: all 0.3s ease;
         border: none;
     }

     &__submit-button:hover {
         background: $primary-color;
         transform: translateY(-1px);
     }

     &__submit-button.disabled {
         opacity: 0.5;
         pointer-events: none;
     }

     &__disclaimer {
         font-size: 14px;
         line-height: 1.5;
         font-weight: 300;
         color: $black-color;
         margin-top: 1rem;
         text-align: center;
         font-family: $font-primary;
     }

     &__final-btns {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 1.5rem;
         width: 100%;
         opacity: 0;
         visibility: hidden;
         transition: opacity 2s ease, visibility 2s ease, transform 2s ease;
         margin-top: 30px;

         &.show {
             opacity: 1;
             visibility: visible;
         }

         @media(max-width: 576px) {
             flex-direction: column;
             gap: 10px;
         }
     }

     &__btn-calm {
         border: none !important;
         outline: none !important;
         box-shadow: none !important;
         width: fit-content !important;
     }

     &__btn-soft {
         background: $white-color;
         border: none !important;
         outline: none !important;
         width: fit-content;
     }

     .fade-in {
         animation: smoothFadeIn 2.5s forwards cubic-bezier(0.4, 0, 0.2, 1);
     }

     .fade-out {
         animation: smoothFadeOut 1.8s forwards cubic-bezier(0.4, 0, 0.2, 1);
     }

     @keyframes smoothFadeIn {
         0% {
             opacity: 0;
             filter: blur(12px);
             transform: translateY(10px);
         }

         100% {
             opacity: 1;
             filter: blur(0);
             transform: translateY(0);
         }
     }

     @keyframes smoothFadeOut {
         0% {
             opacity: 1;
             filter: blur(0);
             transform: translateY(0);
         }

         100% {
             opacity: 0;
             filter: blur(12px);
             transform: translateY(-10px);
         }
     }
 }