@use '../utils/variables' as *;

.why-choose-us {
    background: $light-orange-color;
    background-image: radial-gradient(circle at 4px 4px, #fdcc61 1.5px, transparent 0);
    background-size: 30px 30px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 490px;
        top: -130px;
        left: -4px;
        background: $primary-color;
        transform: rotate(-112.6deg);
        border-radius: 50%;
        filter: blur(200px);
        z-index: 1;

        @media (max-width:576px) {
            width: 165px;
            height: 270px;
            transform: rotate(-140deg);
            top: -35px;
            left: -76px;
            filter: blur(80px);
        }
    }

    &__container {
        position: relative;
        z-index: 10;
    }

    &__subtitle-wrap {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 10;
    }

    &__title {
        text-align: center;
        margin-top: 1rem;
        position: relative;
        z-index: 10;

        span {
            color: #D46A00;
        }
    }

    &__subtitle-text {
        max-width: 1090px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 1.8rem;
        position: relative;
        z-index: 10;
    }

    &__desc {
        text-align: center;
        font-size: 22px;
        line-height: 1.1;
        letter-spacing: 0;
        max-width: 1085px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        position: relative;
        z-index: 10;
    }

    &__orbit-book {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 500px;

        @media(max-width: 1300px) {
            max-width: 400px;
        }

        @media(max-width: 1150px) {
            max-width: 300px;
        }

        @media(max-width: 768px) {
            max-width: 270px;
        }

        @media(max-width: 768px) {
            max-width: 270px;
        }

        @media(max-width: 700px) {
            max-width: 100px;
        }
    }

    &__btn-wrap {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 4rem;
        z-index: 10;
    }

    &__btn {
        padding: 12px 56px;
    }

    &__orbit-area {
        width: 745px;
        height: 745px;
        position: relative;
        margin: 0 auto;
        margin-top: 6rem;

        @media(max-width:1024px) {
            width: 650px;
            height: 650px;
        }

        @media(max-width:900px) {
            width: 550px;
            height: 550px;
        }

        @media(max-width:800px) {
            width: 493px;
            height: 493px;
            margin-top: 4rem;
        }

        @media(max-width:780px) {
            width: 400px;
            height: 400px;
        }
    }

    &__book {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;

        @media(max-width:550px) {
            width: 100%;
            height: auto;
            position: static;
        }

    }

    &__orbit-area {
        width: 1000px;
        height: 1000px;
        position: relative;
        margin: 0 auto;
        margin-top: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width:1200px) {
            width: 800px;
            height: 800px;
        }

        @media(max-width:950px) {
            width: 680px;
            height: 680px;
        }

        @media(max-width:800px) {
            width: 600px;
            height: 600px;
            margin-top: 4rem;
        }

        @media(max-width:740px) {
            width: 500px;
            height: 500px;
        }

        @media(max-width:576px) {
            width: 450px;
            height: 450px;
            margin-top: 2rem;
        }

        @media(max-width:550px) {
            width: 100%;
            height: fit-content;
        }
    }

    .orbit {
        &__rotating {
            width: 90%;
            height: 90%;
            border-radius: 50%;
            transform-origin: center center;
            animation: rotate360 30s linear infinite;
            z-index: 30;

            @media(max-width:800px) {
                 animation: rotate360 40s linear infinite;
            }

            @media(max-width:576px) {
                animation: unset;
            }
        }

        &__text-box {
            position: absolute;
            background: linear-gradient(to right, #f39c12, #e67e22);
            color: white;
            padding: 10px 15px;
            border-radius: 8px;
            font-size: 12px;
            width: fit-content;
            max-width: 250px;
            box-shadow:
                0 15px 35px rgba(230, 126, 34, 0.4),
                inset 0 2px 5px rgba(255, 255, 255, 0.5),
                inset 0 -3px 2px rgba(0, 0, 0, 0.1);
            animation: counterRotate 30s linear infinite;
            z-index: 20;

            @media(max-width:800px) {
                max-width: 200px;
                animation: counterRotate 40s linear infinite;
            }

            @media(max-width:576px) {
                max-width: 178px;
                animation: unset;
                max-width: 200px;

                &:nth-child(n+4) {
                    display: none;
                }

                &:nth-child(1) {
                    top: 0;
                    left: 80px;
                }

                &:nth-child(2) {
                    top: 120px;
                    right: -20px;
                }

                &:nth-child(3) {
                    bottom: 25px;
                    left: 40px;
                }
            }

            @media(max-width:440px) {
                &:nth-child(1) {
                    top: 0;
                    left: 75px;
                }

                &:nth-child(3) {
                    bottom: -5px;
                    left: 40px;
                }
            }
        }

        &__text-box-title {
            color: $black-color;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            display: block;
            display: block;

            @media(max-width:600px) {
                font-style: 12px;
            }
        }

        &__text-box-text {
            font-size: 10px;
            font-style: normal;
            font-weight: 300;
            line-height: 1.1;
            color: $black-color;
            display: block;

            @media(max-width:600px) {
                font-style: 8px;
            }
        }

        &__text-box--1 {
            top: 18%;
            left: 15%;
            -webkit-transform: translate(-50%, 59%);
            transform: translate(-50%, 59%);
        }

        &__text-box--2 {
            top: 25%;
            right: 5%;
        }

        &__text-box--3 {
            bottom: 25%;
            right: 5%;
        }

        &__text-box--4 {
            bottom: 10%;
            left: 45%;
            -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
        }

        &__text-box--5 {
            bottom: 25%;
            left: 3%;
        }
    }

    @keyframes rotate360 {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes counterRotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(-360deg);
        }
    }
}