@use '../utils/variables' as *;

.why-choose-us {
    background: $light-orange-color;
    background-image: radial-gradient(circle at 4px 4px, #fdcc61 1.5px, transparent 0);
    background-size: 30px 30px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 490px;
        top: -130px;
        left: -4px;
        background: $primary-color;
        transform: rotate(-112.6deg);
        border-radius: 50%;
        filter: blur(200px);
        z-index: 1;

        @media (max-width:576px) {
            width: 165px;
            height: 270px;
            transform: rotate(-140deg);
            top: -35px;
            left: -76px;
            filter: blur(80px);
        }
    }

    &__container {
        position: relative;
        z-index: 10;
    }

    &__header {
        margin-bottom: -11rem;

        @media(max-width: 1150px) {
            margin-bottom: -5rem;
        }

        @media(max-width: 950px) {
            margin-bottom: -3rem;
        }

        @media(max-width: 768px) {
            margin-bottom: 0;
        }

        @media(max-width: 500px) {
            margin-bottom: 3rem;
        }
    }

    &__subtitle-wrap {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 10;
    }

    &__title {
        text-align: center;
        margin-top: 1rem;
        position: relative;
        z-index: 10;

        span {
            color: #D46A00;
        }
    }

    &__subtitle-text {
        max-width: 1090px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 1.8rem;
        position: relative;
        z-index: 10;
    }

    &__desc {
        text-align: center;
        font-size: 22px;
        line-height: 1.1;
        letter-spacing: 0;
        max-width: 1085px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        position: relative;
        z-index: 10;
    }

    &__orbit-book {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 500px;

        @media(max-width: 1300px) {
            max-width: 400px;
        }

        @media(max-width: 1150px) {
            max-width: 300px;
        }

        @media(max-width: 768px) {
            max-width: 270px;
        }

        @media(max-width: 768px) {
            max-width: 270px;
        }

        @media(max-width: 700px) {
            max-width: 100px;
        }
    }

    &__btn-wrap {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: -2rem;
        z-index: 10;

        @media (max-width:800px) {
            margin-top: 2rem;
        }
    }

    &__btn {
        padding: 12px 56px;
    }

    &__orbit-area {
        width: 745px;
        height: 745px;
        position: relative;
        margin: 0 auto;
        margin-top: 6rem;

        @media(max-width:1024px) {
            width: 650px;
            height: 650px;
        }

        @media(max-width:900px) {
            width: 550px;
            height: 550px;
        }

        @media(max-width:800px) {
            width: 493px;
            height: 493px;
            margin-top: 4rem;
        }

        @media(max-width:780px) {
            width: 400px;
            height: 400px;
        }
    }

    &__book {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 10;

        &--responsive {
            display: none;
        }

        @media(max-width:768px) {
            width: 100%;
            height: auto;
            position: static;
            display: none;

            &--responsive {
                display: block;
            }
        }
    }

    &__orbit-area {
        width: 1000px;
        height: 1000px;
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width:1200px) {
            width: 800px;
            height: 800px;
        }

        @media(max-width:950px) {
            width: 680px;
            height: 680px;
        }

        @media(max-width:800px) {
            width: 600px;
            height: 600px;
        }

        @media(max-width:740px) {
            width: 500px;
            height: 500px;
        }

        @media(max-width:576px) {
            width: 450px;
            height: 450px;
        }

        @media(max-width:550px) {
            width: 100%;
            height: fit-content;
        }
    }

    .orbit {
        &__rotating {
            width: 90%;
            height: 90%;
            border-radius: 50%;
            transform-origin: center center;
            z-index: 30;

            @media(max-width:768px) {
                width: 100%;
                height: 100%;
            }
        }

        &__text-box {
            position: absolute;
            background: #FFC081;
            background: linear-gradient(18deg,rgba(243, 158, 73, 0.958) 56%, rgba(255, 128, 0, 1) 78%);
            color: white;
            padding: 10px 15px;
            border-radius: 8px;
            font-size: 12px;
            width: fit-content;
            height: fit-content;
            max-width: 250px;
            box-shadow:
                0 15px 35px rgba(230, 126, 34, 0.4),
                inset 0 2px 5px rgba(255, 255, 255, 0.5),
                inset 0 -3px 2px rgba(0, 0, 0, 0.1);
            z-index: 20;

            @media(max-width:800px) {
                max-width: 200px;
            }
        }

        &__text-box-title {
            color: $black-color;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.2;
            display: block;
            display: block;
            margin-bottom: 10px;

            @media(max-width:600px) {
                font-size: 12px;
            }
        }

        &__text-box-text {
            font-size: 10px;
            font-style: normal;
            font-weight: 300;
            line-height: 1.1;
            color: $black-color;
            display: block;

            @media(max-width:600px) {
                font-style: 8px;
            }
        }

        &__text-box--1 {
            top: 22%;
            left: 15%;
            -webkit-transform: translate(-50%, 59%);
            transform: translate(-50%, 59%);

            @media(max-width:1200px) {
                top: 20%;
                left: 11%;
            }

            @media(max-width:950px) {
                top: 17%;
                left: 10%;
            }

            @media(max-width:800px) {
                top: 12%;
                left: 8%;
            }

            @media(max-width: 768px) {
                top: -2%;
                left: 34%;
            }

            @media (max-width:500px) {
                top: -8%;
                left: 36%;
            }

            @media (max-width:400px) {
                top: -12%;
                left: 40%;
            }
        }

        &__text-box--2 {
            top: 26%;
            right: 8%;

            @media(max-width:1200px) {
                top: 23%;
                right: 3%;
            }

            @media(max-width:950px) {
                top: 22%;
                right: -1%;
            }

            @media(max-width: 768px) {
                top: 36%;
                right: 3%;
            }
        }

        &__text-box--3 {
            bottom: 47%;
            right: 4%;

            @media(max-width:1200px) {
                top: 50%;
                right: 0%;
            }

            @media(max-width:950px) {
                right: -1%;
            }

            @media(max-width:800px) {
                right: -6%;
            }

            @media(max-width: 768px) {
                top: unset;
                bottom: 7% !important;
                left: -3%;
            }

            @media(max-width: 500px) {
                top: unset;
                bottom: 0% !important;
                left: -1%;
            }
        }

        &__text-box--4 {
            bottom: 30%;
            right: 0%;
            min-width: 165px;
            -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);

            @media (max-width:1200px) {
                bottom: 27%;
                left: 83%;
            }

            @media (max-width:800px) {
                left: 88%;
            }

            @media(max-width:768px) {
                display: none;

            }
        }

        &__text-box--5 {
            bottom: 8%;
            left: 50%;
            transform: translate(-50%, 0%);

            @media(max-width:768px) {
                display: none;

            }
        }

        &__text-box--6 {
            bottom: 26%;
            left: 8%;

            @media (max-width:1200px) {
                bottom: 24%;
                left: 3%;
            }

            @media (max-width:950px) {
                bottom: 22%;
                left: 0%;
            }

            @media (max-width:800px) {
                bottom: 22%;
                left: -4%;
            }

            @media(max-width:768px) {
                display: none;

            }
        }

        &__text-box--7 {
            bottom: 47%;
            left: 2%;

            @media(max-width:1200px) {
                bottom: 50%;
                left: -2%;
            }

            @media(max-width:950px) {
                bottom: 52%;
                left: -6%;
            }

            @media(max-width:800px) {
                @media(max-width:800px) {
                    bottom: 52%;
                    left: -8%;
                }
            }

            @media(max-width:768px) {
                display: none;

            }
        }
    }
}