@use '../utils/variables' as *;

.why-choose-us {
    background: $light-orange-color;
    background-image: radial-gradient(circle at 4px 4px, #fdcc61 1.5px, transparent 0);
    background-size: 30px 30px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 490px;
        top: -130px;
        left: -4px;
        background: $primary-color;
        transform: rotate(-112.6deg);
        border-radius: 50%;
        filter: blur(200px);
        z-index: 1;

        @media (max-width:576px) {
            width: 165px;
            height: 270px;
            transform: rotate(-140deg);
            top: -35px;
            left: -76px;
            filter: blur(80px);
        }
    }

    &__container {
        position: relative;
        z-index: 10;
    }

    &__subtitle-wrap {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 10;
    }

    &__title {
        text-align: center;
        margin-top: 1rem;
        position: relative;
        z-index: 10;
    }

    &__subtitle-text {
        max-width: 1090px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 1.8rem;
        position: relative;
        z-index: 10;
    }

    &__desc {
        text-align: center;
        font-size: 22px;
        line-height: 1.1;
        letter-spacing: 0;
        max-width: 1085px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        position: relative;
        z-index: 10;
    }

    &__orbit-area {
        // background: url('../images/orbit-line.png') center/cover no-repeat;
        margin-top: -240px;
        position: relative;
        z-index: 5;

        @media(max-width: 1300px) {
            margin-top: -100px;
        }

        @media(max-width: 800px) {
            margin-top: 0px;
        }
    }

    &__orbit-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: spin 25s linear infinite;
    }

    &__orbit-book {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 500px;

        @media(max-width: 1300px) {
            max-width: 400px;
        }

        @media(max-width: 1150px) {
            max-width: 300px;
        }

        @media(max-width: 768px) {
            max-width: 270px;
        }

        @media(max-width: 768px) {
            max-width: 270px;
        }

        @media(max-width: 700px) {
            max-width: 100px;
        }
    }


    &__btn-wrap {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 10;
    }

    &__btn {
        padding: 12px 56px;
    }

    .rotate-img {
        animation: spin 10s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

}