@use '../utils/variables' as *;

.title--one {
    font-size: 4.375rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    max-width: 1120px;
    margin: 0 auto;

    @media(max-width: 1021px) {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    @media(max-width: 768px) {
        font-size: 3rem;
        margin-bottom: 10px;
    }
}

.title-2 {
    font-size: 3rem;
    margin-bottom: 8px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.2;

    span {
        color: $primary-color;
    }

    @media(max-width: 1021px) {
        font-size: 2.5rem;
    }
}

.title--lg {
    font-size: 7.8rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 2rem;

    span {
        color: $primary-color;
    }

    @media(max-width: 1021px) {
        font-size: 6rem;
        margin-bottom: 1.5rem;
    }

    @media(max-width: 768px) {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    @media(max-width: 576px) {
        font-size: 3rem;
        margin-bottom: 10px;
    }
}