.hero__gallery-wrapper {
    position: relative;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-track {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    perspective: 1200px;
}

.card {
    width: 245px;
    height: 245px;
    border-radius: 25px;
    overflow: hidden;
    border-radius: 25px;
    background: lightgray 50% / cover no-repeat;
    box-shadow: 0 35px 60px 0 rgba(0, 0, 0, 0.35);
    position: relative;
    flex-shrink: 0;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: left bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    will-change: transform, opacity;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.card {
    margin: 0 -50px;
}

/* Default Stack Order */
.card:nth-child(1) {
    z-index: 5;
    transform: rotate(-10deg);
}

.card:nth-child(2) {
    z-index: 6;
    transform: rotate(-10deg);
}

.card:nth-child(3) {
    z-index: 7;
    transform: rotate(-10deg);
}

.card:nth-child(4) {
    z-index: 10;
    transform: scale(1.1);
}

/* Top */
.card:nth-child(5) {
    z-index: 9;
    transform-origin: right bottom;
    transform: rotate(10deg);
}

.card:nth-child(6) {
    z-index: 8;
    transform-origin: right bottom;
    transform: rotate(10deg);
}

.card:nth-child(7) {
    z-index: 7;
    transform-origin: right bottom;
    transform: rotate(10deg);
}

/* Hover - Bring to Front */
.card:hover {
    transform: scale(1.1) translateY(-20px) !important;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
}

.pagination {
    display: none;
}

@media (max-width: 1350px) {
    .card {
        margin: 0px -70px;
    }
}

@media (max-width: 1100px) {
    .card {
        margin: 0px -80px;
    }
}



@media (max-width: 1024px) {
    .card {
        position: absolute;
        margin: 0;
        opacity: 0;
        transform: scale(1) translateY(0) rotate(0);
        pointer-events: none;
        visibility: hidden;
    }

    .card:nth-child(1),
    .card:nth-child(2),
    .card:nth-child(3),
    .card:nth-child(4),
    .card:nth-child(5),
    .card:nth-child(6),
    .card:nth-child(7) {
        transform: rotate(0);
    }

    .card:hover {
        transform: scale(1);
    }

    .card.active,
    .card.prev,
    .card.next {
        visibility: visible;
        opacity: 1;
    }

    .card.active {
        opacity: 1;
        z-index: 100;
        transform: scale(1.1) translateY(0) rotate(0deg);
        transform-origin: center center;
        pointer-events: auto;
    }

    .card.prev {
        opacity: 0.7;
        z-index: 50;
        transform: scale(1) translateX(-60px) rotate(-6deg);
        transform-origin: right center;
    }

    .card.next {
        opacity: 0.7;
        z-index: 50;
        transform: scale(1) translateX(60px) rotate(6deg);
        transform-origin: left center;
    }

    .hero__gallery-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 1.8rem;
    }

    .hero__gallery-pagination .dot {
       width: 15px;
       height: 15px;
       background: gray;
       border-radius: 50%;
       transition: 0.5s ease;
       position: relative;
       z-index: 20;
    }
    .hero__gallery-pagination .dot.active {
       background: white;
    }

}

@media (max-width: 576px) {

    .hero__gallery-wrapper {
        margin-left: -35px;
    }

    .card.prev {
        display: none;
    }

    .card.active {
        opacity: 1;
        z-index: 100;
        transform: rotate(-4.1deg);
        pointer-events: auto;
    }
}